<!--This code came from Chat GPT-->
<div class="card">
    <div class="card-header">Card Title</div>
    <div class="card-body">
      <div class="card-description">
        This is the description of the card. It can be several lines long and should wrap nicely.
      </div>
      <img class="card-thumbnail" src="https://via.placeholder.com/100" alt="Thumbnail" />
    </div>
  </div>
  