<div class="flex justify-between p-2">
    <img class="w-10 h-10" src="/images/menu.svg" alt="Menu Icon">
    <img class="w-10 h-10" src="/images/bell.svg" alt="Notification Bell">
  </div>

  <div class="flex items-center gap-5 mt-4">
    <img class="w-10 h-10" src="/images/photo.svg" alt="Profile Icon">
    <div>
      <span class="text-xl">Hello,</span> <span class="font-bold text-xl">Jazib!</span>
    </div>
    <div id="weather-caption" class="text-black px-2 py-2 rounded shadow text-sm bg-white">
      Loading weather...
    </div>
  </div>
