<div class="flex justify-between p-2">
    <img class="w-10 h-10" src="/images/menu.svg" alt="">
    <img class="w-10 h-10" src="/images/bell.svg" alt="">
</div>
<div class="flex items-center gap-5">
    <img src="/images/photo.svg" alt="">
    <div>
        <span class="text-xl">Hello,</span> <span class="font-bold text-xl">Rayen!</span>
    </div>
    <div id="weather-caption"
        class="text-black px-1 py-2 rounded shadow text-sm">
        Loading weather...
    </div>
</div>
