<div id="footer" class=" w-full py-3 px-3 self-center  rounded-3xl relative bg-green-700 ">

    <div class="flex items-center justify-between">
        <a href="/researcher/dashboard">
            <img class="hover:bg-[#dad7b2] rounded p-2 " src="/images/home.svg" width="40" height="30" alt="">
        </a>
        <a href="#species">
            <img class="hover:bg-[#dad7b2] rounded p-2" src="/images/dna-icon.svg" width="40" height="30" alt="">
        </a>
        <a href="/researcher/quests">
            <img class="hover:bg-[#dad7b2] rounded p-2" src="https://img.icons8.com/ios/30/ffffff/quest--v1.png"
                width="40" height="30" alt="quest" />
        </a>
        <a href="#favourite">
            <img class="hover:bg-[#dad7b2] rounded p-2" src="/images/heart.svg" width="40" height="30" alt="">
        </a>
    </div>

</div>