<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-no-repeat bg-center bg-fixed bg-cover" style="background-image: url('/images/plant1.jpg')">
    <div class="container">
        <header class="header">
            <h2>header</h2>
        </header>
        HELLO WORLD
        <footer class="footer">
            <h2>footer</h2>
        </footer>
    </div>
</body>

</html>