
<form action="/add-species" method="POST">
  <label>Common Name: <input name="commonName" required></label><br>
  <label>Scientific Name: <input name="scientificName" required></label><br>
  <label>Image URL: <input name="image" required></label><br>
  <label>Latitude: <input name="lat" type="number" step="any" required></label><br>
  <label>Longitude: <input name="lng" type="number" step="any" required></label><br>
  <label>Range (km): <input name="rangeKm" type="number" required></label><br>
  <button type="submit">Submit</button>
</form>
